<template>
  <div class="sideBanner" v-if="bannerList.length>0">
    <swiper :options="swiperOption" class="swiper w-full">
      <swiper-slide v-for="item of bannerList" :key="item.name" class="slide swiper-no-swiping">
        <a :href="item.urls[0].url" target="_blank" class="item">
          <div>
            <img :src="item.thumbnail.path +
                        '.' +
                        item.thumbnail.extension" alt="">
          </div>
        </a>
      </swiper-slide>
    </swiper>
  </div>
</template>

<script>
import 'swiper/dist/css/swiper.css'
import 'swiper/dist/js/swiper.js'

export default {
  name: "SideBanner",
  data() {
    return {
      bannerList: [],
      apiUrl: this.$store.state.apiUrl,
      parameter: this.$store.state.parameter,
      swiperOption: {
        slidesPerView: 1, // 每一個畫面有幾個swiper-slide
        noSwiping: true,
        autoplay: {
          delay: 2000
        },
        speed: 1000,
        loop: true,
        effect: 'fade',
      }
    }
  },
  methods: {
    async getBanner() {
      const res = await this.$axios.$get(this.apiUrl + 'characters' + this.parameter)
      // console.log('getBanner', res)
      this.bannerList = res.data.results;
    }
  },
  mounted() {
    this.getBanner()
  }
}
</script>

<style lang="scss" scoped>
.sideBanner {
  @apply flex justify-center items-center rounded-2xl overflow-hidden;

  & .swiper {
    & .slide {
      @apply cursor-pointer;
      & .item {
        & img {
          @apply z-20 w-full object-cover;
          height: 23.5vw;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .sideBanner {
    @apply h-full overflow-auto;
    & .swiper {
      & .slide {
        & .item {
          & img {
            height: 30rem;
          }
        }
      }
    }
  }
}
</style>
