<template>
  <div class="topBanner" v-if="bannerList.length>0">
    <swiper :options="swiperOption" class="swiper w-full">
      <swiper-slide v-for="item of bannerList" :key="item.title" class="slide">
        <div  @click="openUrl(item)" class="item">
          <div class="relative overflow-hidden">
            <span class="item_title">{{ item.title }}</span>
            <img :src="item.img" alt="">
          </div>
        </div>
      </swiper-slide>
    </swiper>
  </div>
</template>

<script>
import 'swiper/dist/css/swiper.css'
import 'swiper/dist/js/swiper.js'


export default {
  name: "TopBanner",
  data() {
    return {
      bannerList: [],
      apiKey: this.$store.state.apiKey,
      pageSize: 5,
      swiperOption: {
        slidesPerView: 1,
        autoplay: true,
        loop: true,
        effect: 'fade',
      }
    }
  },
  methods: {
    openUrl(item) {
      this.$router.push(`/article/${item.id}`)
    },
    async getBanner() {
      const url = 'https://qchanpaoz-api.fly.dev/api/category/getHalonews';
      const data = {
        type: 'general'
      }
      const res = await this.$axios.$post(url, {data})
      console.log('res', res.data)
      this.bannerList = res.data;
    }
  },
  mounted() {
    this.getBanner()
  }
}
</script>

<style lang="scss" scoped>
.topBanner {
  @apply flex justify-center items-center w-full rounded-2xl overflow-hidden;

  & .swiper {
    @apply rounded-2xl;
    & .slide {
      @apply cursor-pointer;
      & .item {
        @apply block;
        & img {
          @apply z-20 w-full object-cover object-top;
          max-height: 25vw;
        }

        & .item_title {
          @apply absolute bottom-0 z-50 w-full bg-black bg-opacity-60 text-white truncate rounded-b-2xl;
          font-size: 1.2vw;
          padding: 1vw 2vw;
        }
      }
    }

  }
}

@media (max-width: 1024px) {
  .topBanner {
    & .swiper {
      & .slide {
        & .item {
          & img {
            @apply max-h-full;
          }

          & .item_title {
            font-size: 2vw;
          }
        }
      }

    }
  }
}

@media (max-width: 420px) {
  .topBanner {
    & .swiper {
      & .slide {
        & .item {
          & .item_title {
            @apply text-sm;
          }
        }
      }

    }
  }
}
</style>
