<template>
  <div class="card-wrapper" :class="{'h-screen':list.length < 5}">
    <div class="border-b-2 border-black flex items-center justify-between" v-if="list.length > 0">
      <h2
        class="text-xl tracking-tight mb-4 font-extrabold text-gray-900 sm:text-xl border-l-4 border-purple-500 pl-3">
        {{ $t(category) }}</h2>
    </div>

    <div class="mt-8 mx-auto grid gap-5 lg:max-w-none grid-cols-21 md:grid-cols-2 lg:grid-cols-4">
      <div @click="openUrl(item)" v-for="item of list" :key="item.content"
                 class="link">
        <div class="flex-shrink-0 m-3 mb-0 bg-white">
          <div class="cover">
            <img :src="item.img" alt="">
          </div>
        </div>
        <div class="flex-1 bg-white p-3 lg:p-6 lg:pt-2 flex flex-col justify-between">
          <div class="flex-1">
            <p class="card_title">{{ item.title }}</p>
          </div>
          <p class="mt-3 text-sm text-gray-500 flex justify-between">
            <span>{{ $t(category) }}</span>
            <span>{{ parseTime(item.create_date, '{y}-{m}-{d}') }}</span>
          </p>
          <!-- AD -->
<!--          <p v-show="item.ad_url!==''" class="mt-3 text-sm text-gray-500 text-right">-->
<!--            <span>AD</span>-->
<!--          </p>-->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {articleType} from "/config/article.js";
import {parseTime} from "/utils/parseTools.js";

export default {
  name: "ArticleCardList",
   props: {
    category: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      articleType,
      parseTime,
      list: [],
      apiKey: this.$store.state.apiKey,
      id:''
    }
  },
  methods: {
    openUrl(item) {
      this.$router.push(`/article/${item.id}`)
    },
    // 取得 文章列表
    async getNews() {
      const url = 'https://qchanpaoz-api.fly.dev/api/category/getHalonews';
      const data = {
        type: this.id
      }
      const res = await this.$axios.$post(url, {data})
      this.list = res.data;
    }
  },
  mounted() {
    if (this.$route.params.id) {
      this.id = this.$route.params.id;
    }
    this.getNews();
  }
}
</script>

<style lang="scss" scoped>
.card-wrapper {
  @apply flex flex-col;

  & .link {
    @apply flex flex-col rounded-2xl border border-gray-400 overflow-hidden cursor-pointer;
    & .cover {
      @apply h-56 w-full h-full bg-zinc-100 rounded-2xl overflow-hidden;
      transform: translateZ(0); // for safari
      & img {
        @apply w-full object-cover rounded-2xl;
        @apply transition-all duration-500 overflow-hidden;
        height: 11.7vw;
      }

      &:hover {
        & img {
          transform: scale(1.1);
        }
      }
    }

    & .card_title {
      @apply text-xl font-semibold text-gray-900 overflow-hidden;
      max-height: 3em;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  .more {
    @apply font-bold px-3.5 py-1 rounded-full text-white text-sm bg-purple-500;
    @apply transition-all duration-300;

    &:hover {
      @apply bg-opacity-75;
    }
  }
}

@media (max-width: 1024px) {
  .card-wrapper {
    & .link {
      & .cover {
        & img {
          height: 27vw;
        }

        &:hover {
          & img {
            transform: none;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .card-wrapper {
    & .link {
      & .cover {
        & img {
          height: 55vw;
        }
      }

      & .card_title {
        @apply text-base;
      }
    }
  }
}
</style>
