<template>
  <div class="wrapper">
    <div class="relative mx-auto">
      <div class="border-b-2 border-black flex items-center justify-between">
        <h2 class="text-xl tracking-tight mb-4 font-extrabold text-gray-900 sm:text-xl border-l-4 border-purple-500 pl-3">
          {{ $t(name) }}</h2>
        <nuxt-link v-show="showMore" :to="`/articleList/${name}`" class="more"> {{ $t('view_more') }}</nuxt-link>
      </div>

      <div class="content">
        <nuxt-link :to="`/article/${list[0].news_id}`" class="banner" v-if="list.length>0">
          <img :src="imgUrl + list[0].photo" alt="">
        </nuxt-link>

        <div class="aside">
          <nuxt-link :to="`/article/${item.news_id}`" v-for="(item,index) of list" class=" flex flex-col" :key="item.news_id">
            <div v-if="index !==0" class="link">
              <div class="w-full lg:w-3/5 flex-shrink-0  overflow-hidden rounded-2xl">
                <img :src="imgUrl + item.photo"
                     alt="">
              </div>
              <div class="w-full lg:w-2/5 flex-1 bg-white px-5  py-2 flex flex-col overflow-hidden ">
                <div class="flex-1 flex flex-col-reverse lg:flex-col">
                  <div class="text-sm text-gray-500 flex justify-between">
                    <span>{{ $t(articleType[item.sub_type]) }}</span>
                    <span>{{ parseTime(item.publish_date, '{y}-{m}-{d}') }}</span>
                  </div>
                  <div class="favicon mt-4 flex flex-col text-xl font-semibold text-gray-900 mb-2 leading-8">
                    {{ item.title }}
                  </div>
                </div>
              </div>
            </div>
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {articleType} from "/config/article.js";
import {parseTime} from "/utils/parseTools.js";

export default {
  name: "ArticleCardColum",
  props: {
    name: {
      type: String,
      required: true
    },
    type: {
      type: Number,
      required: true
    },
    subType: {
      type: Number,
      required: true
    },
    count: {
      type: Number,
      default: 0,
      required: true
    },
    showMore: {
      type: Boolean,
      default: false
    },
    pin: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      articleType,
      parseTime,
      list: [],
      imgUrl: this.$store.state.imgUrl,
    }
  },
  methods: {
    // 取得 文章列表
    getNews() {
      this.$api.newsGet(this.type, this.subType).then(res => {
        if (this.$store.state.showLog) {
          console.log('getNews res', res)
        }

        if (res.list.length < 3) {
          for (let i = 0; i <= 2; i++) {
            res.list.forEach(item => {
              this.list.push(item)
            })
          }

        } else {
          this.list = res.list.reverse().slice(0, this.count)
        }

      }).catch(err => {
        if (this.$store.state.showLog) {
          console.log('getNews err', err)
        }
      })
    }
  },
  mounted() {
    this.getNews();
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  @apply relative w-full overflow-hidden;

  & .more {
    @apply font-bold px-3.5 py-1 rounded-full text-white text-sm bg-purple-500;
    @apply transition-all duration-300;

    &:hover {
      @apply bg-opacity-75;
    }
  }

  & .content {
    @apply flex w-full h-full items-start my-8;


    & .banner {
      @apply mr-4 w-3/5;
      & img {
        @apply rounded-2xl w-full object-cover;
        height: 27vw;
      }
    }

    & .aside {
      @apply mx-auto w-2/5;

      & .link {
        @apply flex w-full h-full items-start justify-center rounded-2xl border border-gray-400 overflow-hidden p-4;
        & img {
          @apply w-full object-cover rounded-2xl;
          @apply transition-all duration-500;
          height: 11.5vw;
        }

        &:hover {
          & img {
            transform: scale(1.1);
          }
        }

        &:first-child {
          @apply mb-4
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .wrapper {
    @apply h-full;


    & .content {
      @apply flex-col;
      & .banner {
        @apply mb-5 mx-auto max-w-full;
        width: 32rem;
        & img {
          @apply h-full;
        }
      }

      & .aside {
        @apply mx-auto max-w-full;
        width: 32rem;
        & .link {
          @apply flex-col;
          & img {
            @apply h-72;
          }
          &:hover {
            & img {
              transform: none;
            }
          }
        }
      }
    }
  }
}
</style>
