<template>
  <div class="wrapper" ref="el" v-show="list.length>0">
    <div class="relative mx-auto">
      <div class="border-b-2 border-black flex items-center justify-between">
        <h2
          class="text-xl tracking-tight mb-4 font-extrabold text-gray-900 sm:text-xl border-l-4 border-purple-500 pl-3">
          {{ $t(name) }}</h2>
        <!--        <nuxt-link v-show="showMore" :to="`/articleList/${name}`" class="more"> {{ $t('view_more') }}</nuxt-link>-->
      </div>
      <div v-if="list.length > 0" class="mt-8 max-w-full mx-auto grid gap-3 lg:gap-5 lg:max-w-none gird-halo">
        <div @click="openUrl(item)"  v-for="item of list" :key="item.title"
             class="link">
          <div class="flex-shrink-0 m-1.5 md:m-3 mb-0 overflow-hidden rounded-2xl">
            <img :src="item.img" alt="">
          </div>
          <div class="flex-1 bg-white p-3 lg:p-6 lg:pt-2 flex flex-col justify-between">
            <div class="flex-1">
              <p class="card_title">{{ item.title }}</p>
            </div>
            <p class="mt-3 text-sm text-gray-500 flex justify-between" v-if="category!=='general'">
              <span>{{ $t(category) }}</span>
              <span>{{ parseTime(item.create_date, '{y}-{m}-{d}') }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {articleType} from "/config/article.js";
import {parseTime} from "/utils/parseTools.js";

export default {
  name: "ArticleCardRow",
  props: {
    name: {
      type: String,
      default: ''
    },
    pageSize: {
      type: Number,
      default: 0
    },
    category: {
      type: String,
      default: ''
    },
    count: {
      type: Number,
      default: 0,
      required: true
    },
    showMore: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      articleType,
      parseTime,
      apiKey: this.$store.state.apiKey,
      list: []
    }
  },
  methods: {
    openUrl(item) {
      this.$router.push(`/article/${item.id}`)
    },
    // 取得 文章列表
    async getArticle() {
      const url = 'https://qchanpaoz-api.fly.dev/api/category/getHalonews';
      const data = {
        type: this.category
      }
      const res = await this.$axios.$post(url, {data})
      this.list = res.data.slice(0,this.count);
    }
  },
  mounted() {
    this.$el.style.setProperty('--count', this.count)
    this.getArticle();
  }
}
</script>

<style lang="scss" scoped>
// 變數
$count: var(--count);


.wrapper {
  @apply relative w-full h-full;
  & .link {
    @apply flex flex-col rounded-2xl border border-gray-400 overflow-hidden cursor-pointer;
    & img {
      @apply transition-all duration-500;
      @apply w-full object-cover;
      height: 11.7vw;
    }

    &:hover {
      & img {
        transform: scale(1.1);
      }
    }

    & .card_title {
      @apply text-xl font-semibold text-gray-900 overflow-hidden;
      max-height: 3em;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  & .more {
    @apply font-bold px-3.5 py-1 rounded-full text-white text-sm bg-purple-500;
    @apply transition-all duration-300;

    &:hover {
      @apply bg-opacity-75;
    }
  }
}

@media (min-width: 1024px) {
  .gird-halo {
    grid-template-columns: repeat($count, minmax(0, 1fr));
  }
}

@media (max-width: 1024px) {
  .wrapper {
    & .link {
      &:first-child {
        grid-column: 1/3;

        & img {
          height: 55vw;
        }
      }

      &:nth-child(2), &:nth-child(3) {

      }

      &:nth-child(4) {
        @apply hidden;
      }

      & img {
        height: 25vw;
      }

      &:hover {
        & img {
          transform: none;
        }
      }

    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    & .link {
      & .card_title {
        @apply text-base;
      }
    }
  }
}
</style>
