<template>
  <div class="wrapper">
    <div class="border-b-2 border-black flex items-center justify-between">
      <h2 class="main_title">{{ $t('popular_articles') }}</h2>
    </div>
    <nuxt-link :to="`/article/${item.id}`" class="item" v-for="item of list" :key="item.title">
      <div class="flex flex-col rounded-2xl border border-gray-400 overflow-hidden link">
        <div class="content">
          <div class="flex-1">
            <a href="#" class="block">
              <p class="title">{{ item.title }}</p>
            </a>
          </div>
          <p class="sub_title">
            <span>{{ $t(item.type) }}</span>
            <span>{{ parseTime(item.create_date, '{y}-{m}-{d}') }}</span>
          </p>
        </div>
      </div>
    </nuxt-link>
  </div>
</template>

<script>
import {articleType} from '/config/article.js'
import {parseTime} from '/utils/parseTools.js'

export default {
  name: "Aside",
  data() {
    return {
      articleType,
      parseTime,
      list: []
    }
  },
  methods: {
    async getNews() {
      const url = 'https://qchanpaoz-api.fly.dev/api/category/getHalonews';
      const data = {
        type: 'general'
      }
      const res = await this.$axios.$post(url, {data})
      console.log('res', res.data)
      this.list = res.data.slice(0, 3);
    }
  },
  mounted() {
    this.getNews();
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  @apply relative mx-auto w-full h-full mt-4;
  & .main_title {
    @apply tracking-tight font-extrabold text-gray-900 border-l-4 border-purple-500 pl-3;
    font-size: 1vw;
    margin-bottom: 0.5vw;
  }

  & .item {
    @apply flex flex-col max-w-lg mx-auto;
    margin-top: 0.7vw;

    & .link {
      & .content {
        @apply flex flex-col justify-between;
        padding: 0.8vw 0.8vw 0.5vw;

        & .title {
          @apply font-semibold text-gray-900;
          font-size: 0.9vw;
        }

        & .sub_title {
          @apply text-gray-500 flex justify-between;
          font-size: 0.7vw;
          margin-top: 0.8vw;
        }
      }
    }
  }
}
</style>
