<template>
  <div class="wrapper">
    <ArticleCardList v-if="reload" :category="`${id}`"/>
  </div>
</template>

<script>
import {articleType} from "/config/article.js";
import ArticleCardList from "/components/ArticleCard/ArticleCardList"

export default {
  name: "ArticleList",
  components: {ArticleCardList},
  data() {
    return {
      reload: true,
      articleType,
      id: ''
    }
  },
  mounted() {
    if (this.$route.params.id) {
      this.id = this.$route.params.id;
    }
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  @apply relative w-4/5 max-w-full mx-auto flex flex-col items-center pt-28 mb-6;
}

@media (max-width: 1024px) {
  .wrapper {
    @apply w-11/12;
  }
}
</style>
