<template>
  <footer>
    <div class="media">
      <h1>Media</h1>
      <div class="logo">
        <a class="w-20 mx-3" href="https://www.facebook.com/Gameholic007" target="_blank">
          <img src="~/assets/images/Gameholic.png" alt="">
        </a>
        <a class="w-20 mx-3" href="https://www.facebook.com/MisayaBaby" target="_blank">
          <img src="~/assets/images/Misaya.png" alt="">
        </a>
        <a class="w-20 mx-3" href="https://www.facebook.com/weeeelovebeauty" target="_blank">
          <img src="~/assets/images/WLB.png" alt="">
        </a>
        <a class="w-24 mx-3" href="https://www.facebook.com/MoneyLab007" target="_blank">
          <img src="~/assets/images/Moneylab.png" alt="">
        </a>
        <a class="w-20 mx-3" href="https://www.facebook.com/RainbowNewsFeed" target="_blank">
          <img src="~/assets/images/RainRainbowNewsFeed.png" alt="">
        </a>
        <a class="w-20 mx-3" href="https://www.facebook.com/GBet007" target="_blank">
          <img src="~/assets/images/JBGame.png" alt="">
        </a>
      </div>

    </div>
    <div class="link">
      <nuxt-link to="/about" class="item">{{ $t('about_us') }}</nuxt-link>
      <div class="line">/</div>
      <nuxt-link to="/privacy" class="item">{{ $t('privacy') }}</nuxt-link>
    </div>
    <span>@{{ date }} HalohaloNews</span>
  </footer>
</template>

<!--Gameholic：https://www.facebook.com/Gameholic007-->
<!--Misaya：https://www.facebook.com/MisayaBaby/ -->
<!--WLB：https://www.facebook.com/weeeelovebeauty -->
<!--Moneylab：https://www.facebook.com/MoneyLab007/-->
<!--RainRainbowNewsFeed：https://www.facebook.com/RainbowNewsFeed-->
<!--JBGame：https://www.facebook.com/GBet007-->

<script>
export default {
  name: "Footer",
  data() {
    return {
      date: new Date().getFullYear()
    }
  }
}
</script>

<style lang="scss" scoped>
footer {
  @apply text-zinc-700 bg-zinc-300 py-10;
  & .media {
    @apply text-center font-bold;
    & .logo {
      @apply flex justify-center items-center mb-10;
    }
  }
  & .link {
    @apply text-sm w-full flex justify-center items-center mb-2;
    & .item {
      &:hover {
        @apply text-zinc-500;
      }
    }

    & .line {
      margin: 0 1vw;
    }
  }

  & span {
    @apply text-xs w-full flex justify-center items-center;
  }
}
</style>
