<template>
  <header>
    <div class="flex items-center">
      <nuxt-link to="/" class="logo"><img src="~/assets/images/logo.png" alt="halohalonews"></nuxt-link>
      <nav class="nav">
        <nuxt-link v-for="type of articleType" :key="type" @click.native="isShow=false" :to='`/articleList/${type}`' class="item">
          {{ $t(type) }}
        </nuxt-link>
      </nav>
      <!-- nav mobile -->
      <transition name="fade">
        <div @click="isShow = false" class="bg" v-if="isShow"></div>
      </transition>
      <transition name="menuMobile">
        <div class="mobile-menu" v-if="isShow">
          <nav class="nav-mobile">
            <svg @click="isShow = false" class="close w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                 viewBox="0 0 24 24"
                 strokeWidth={1.5}
                 stroke="currentColor">
              <path strokeLinecap="round" strokeLinejoin="round" d="M6 18L18 6M6 6l12 12"/>
            </svg>
            <nuxt-link v-for="item of articleType" :key="item"
                       @click.native="isShow=false" :to='`/articleList/${item}`' class="item">
              {{ $t(item) }}
            </nuxt-link>
          </nav>
        </div>
      </transition>
    </div>

    <!-- hamburger -->
    <div @click="isShow = true" class="hamburger cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
           class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
      </svg>
    </div>
    <div class="option">
      <!-- 語言切換 -->
      <div class="language">
        <button @click="langShow = !langShow" type="button"
                class="text-black rounded-md flex items-center text-xs tracking-wider">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5}
               stroke="currentColor" class="w-5 h-5">
            <path strokeLinecap="round" strokeLinejoin="round"
                  d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418"/>
          </svg>
          <svg class="text-black w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
               aria-hidden="true">
            <path fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd"/>
          </svg>
        </button>
        <transition name="fade">
          <div v-show="langShow"
               class="origin-top-right absolute right-0 mt-2 w-28 rounded-md shadow-md bg-white ring-1 ring-black ring-opacity-5">
            <div class="py-1">
                <span v-for="lang of langType" :key="lang.code" @click="changeLang(lang)"
                      class="text-gray-700 block px-4 py-2 text-xs transition-all hover:bg-zinc-50 tracking-wider cursor-pointer">
                  {{ lang.name }}
                </span>
            </div>
          </div>
        </transition>
      </div>
    </div>
  </header>
</template>

<script>
import {articleType} from "/config/article.js";

export default {
  name: "Header",
  data() {
    return {
      articleType,
      isShow: false,
      langShow: false,
      langType: [
        {
          code: '392',
          name: '日本語',
          locale: 'ja'
        },
        {
          code: '608',
          name: 'English',
          locale: 'en'
        }]
    }
  },
  methods: {
    changeLang(lang) {
      this.langShow = false;
      if (lang.code !== this.$store.state.countryCode) {
        this.$store.commit('setCountryCode', lang.code);
        this.$i18n.locale = lang.locale;
        localStorage.setItem('locale', lang.locale);
        this.$emit('isRender', true);
        this.$router.push('/')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
header {
  @apply fixed top-0 w-full z-30 bg-white px-6 py-5 flex items-center justify-between;
  box-shadow: rgb(0 0 0 / 30%) 0px -2px 7px;

  & .logo {
    @apply mr-7 w-32;
    & img {
      @apply w-32;
    }
  }

  & .nav {
    @apply flex items-center;
    & .item {
      @apply mx-2 text-sm px-4 py-1 rounded-full tracking-wider font-bold;
      @apply transition-all duration-300;
      &:hover {
        @apply bg-purple-100;
      }
    }
  }

  & .mobile-menu {
    @apply hidden;
  }


  & .hamburger {
    @apply hidden;
  }

  & .mode {
    @apply transition-all duration-300;
    &:hover {
      @apply text-purple-500;
    }
  }

  & .option {
    @apply flex items-center;

    & .language {
      @apply ml-3 relative;
      & button {
        & svg {
          @apply transition-all duration-300;
        }

        &:hover svg {
          @apply text-purple-500;
        }
      }
    }
  }
}

@media (max-width: 920px) {
  header {
    @apply px-4 py-3;
    box-shadow: rgb(0 0 0 / 30%) 0 -2px 5px;

    & .nav {
      @apply hidden;
    }

    & .bg {
      @apply fixed w-full h-full top-0 left-0 z-10;
      @apply bg-black bg-opacity-50;
    }

    & .mobile-menu {
      @apply block fixed h-full top-0 left-0 z-20;

      & .nav-mobile {
        @apply relative h-full pt-10;
        @apply flex flex-col bg-white;
        width: 30rem;
        max-width: 70%;

        & .close {
          @apply absolute top-3 right-3;
        }

        & .item {
          @apply px-10 py-1 my-4 rounded-full tracking-wider font-bold;
          -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        }
      }
    }


    & .hamburger {
      @apply block rounded-full;
    }

    & .option {
      @apply hidden;
    }
  }
}

.menuMobile-enter-active,
.menuMobile-leave-active {
  transition: all .3s ease;
}

.menuMobile-enter, .menuMobile-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}
</style>
