@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: 'Rufina';
  src: url('assets/fonts/Rufina-Bold.ttf');
}

body {
  @apply w-full;
  margin: 0;
  /*display: flex;*/
  min-width: 320px;
  min-height: 100vh;
}

a {
  @apply transition-all duration-300;
  text-decoration: inherit;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: none;
}

img {
  @apply rounded-2xl;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}


.fade-enter-active, .fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-to, .fade-leave {
  opacity: 1
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.fade-container-enter-active, .fade-container-leave-active {
  transition: opacity 0.5s ease;
}

.fade-container-enter-to, .fade-container-leave {
  opacity: 1
}

.fade-container-enter, .fade-container-leave-to {
  opacity: 0;
}


@layer base {
  html, body {
    @apply w-full h-full;
  }

  html {
    @apply font-normal;
    font-size: 80%;
  }

  body {
    @apply font-normal;
    font-family: "Helvetica", "MyWebFont", sans-serif, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "spHelvetica Neue",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji" !important;
  }

  button,
  button:focus {
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }

  @media (min-width: 640px) {
    html {
      font-size: 0.8rem;
    }
  }

  @media (min-width: 768px) {
    html {
      font-size: 0.8rem;
    }
  }

  @media (min-width: 1024px) {
    html {
      font-size: 0.8rem;
    }
  }

  @media (min-width: 1280px) {
    html {
      font-size: 0.8rem;
    }
  }

  @media (min-width: 1450px) {
    html {
      font-size: 1em;
    }
  }

  @media (max-width: 768px) {

  }
}
