<template>
  <div v-if="renderComponent">
    <Header @isRender="reloadView"/>
    <transition name="fade-container" aapear>
      <Nuxt/>
    </transition>
    <Footer/>
  </div>
</template>

<script>
import '/plugins/gtag'
import '/plugins/track-code'

export default {
  data() {
    return {
      renderComponent: true
    }
  },
  methods: {
    reloadView() {
      console.log('reloadView')
      this.renderComponent = false;
      this.$nextTick(() => {
        this.renderComponent = true;
      })
    }
  },
  mounted() {
    // localStorage.setItem('locale', en)
  }
}
</script>

