<template>
  <div :class="{'h-full':hFull,'h-screen':!hFull}" class="article">
    <div class="main" :class="{'lg:border-r lg:border-gray-400':content.title}">
      <div class="main_title">
        <h1 class="title">{{ content.title }}</h1>
        <h2 v-if="content.create_date" class="date">
          <span class="type">{{ $t(articleType[content.sub_type]) }}</span>
          <span>{{ parseTime(content.create_date, '{y}-{m}-{d}') }}</span>
        </h2>
        <img :src="content.img" class="cover" alt="">
      </div>
      <div class="content" v-html="content.content"></div>

      <!-- comment -->
      <div id="fb-root"></div>
      <div class=comment>
        <div class="fb-comments" :data-href="shareUrl" data-width="100%" data-numposts="5" data-order-by="reverse_time"/>
      </div>

      <!-- share -->
      <div class="share">
        <a :href="`https://www.facebook.com/sharer/sharer.php?u=${shareUrl}`" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" class="w-6 h-6"
               viewBox="0 0 30 30">
            <path
              d="M15,3C8.373,3,3,8.373,3,15c0,6.016,4.432,10.984,10.206,11.852V18.18h-2.969v-3.154h2.969v-2.099c0-3.475,1.693-5,4.581-5 c1.383,0,2.115,0.103,2.461,0.149v2.753h-1.97c-1.226,0-1.654,1.163-1.654,2.473v1.724h3.593L19.73,18.18h-3.106v8.697 C22.481,26.083,27,21.075,27,15C27,8.373,21.627,3,15,3z"></path>
          </svg>
        </a>
        <a :href="`https://twitter.com/share?url=${shareUrl}`" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" class="w-6 h-6"
               viewBox="0 0 30 30">
            <path
              d="M28,6.937c-0.957,0.425-1.985,0.711-3.064,0.84c1.102-0.66,1.947-1.705,2.345-2.951c-1.03,0.611-2.172,1.055-3.388,1.295 c-0.973-1.037-2.359-1.685-3.893-1.685c-2.946,0-5.334,2.389-5.334,5.334c0,0.418,0.048,0.826,0.138,1.215 c-4.433-0.222-8.363-2.346-10.995-5.574C3.351,6.199,3.088,7.115,3.088,8.094c0,1.85,0.941,3.483,2.372,4.439 c-0.874-0.028-1.697-0.268-2.416-0.667c0,0.023,0,0.044,0,0.067c0,2.585,1.838,4.741,4.279,5.23 c-0.447,0.122-0.919,0.187-1.406,0.187c-0.343,0-0.678-0.034-1.003-0.095c0.679,2.119,2.649,3.662,4.983,3.705 c-1.825,1.431-4.125,2.284-6.625,2.284c-0.43,0-0.855-0.025-1.273-0.075c2.361,1.513,5.164,2.396,8.177,2.396 c9.812,0,15.176-8.128,15.176-15.177c0-0.231-0.005-0.461-0.015-0.69C26.38,8.945,27.285,8.006,28,6.937z"></path>
          </svg>
        </a>
        <a :href="`https://social-plugins.line.me/lineit/share?url=${shareUrl}`" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" class="w-6 h-6"
               viewBox="0 0 30 30">
            <path
              d="M 6 4 C 4.895 4 4 4.895 4 6 L 4 24 C 4 25.105 4.895 26 6 26 L 24 26 C 25.105 26 26 25.105 26 24 L 26 6 C 26 4.895 25.105 4 24 4 L 6 4 z M 15.003906 7.6660156 C 19.720906 7.6660156 23.558594 10.780375 23.558594 14.609375 C 23.558594 16.142375 22.964609 17.523813 21.724609 18.882812 C 19.929609 20.948812 15.916906 23.464609 15.003906 23.849609 C 14.091906 24.233609 14.225719 23.604672 14.261719 23.388672 C 14.283719 23.260672 14.384766 22.65625 14.384766 22.65625 C 14.413766 22.43725 14.442469 22.099812 14.355469 21.882812 C 14.258469 21.645813 13.880563 21.520937 13.601562 21.460938 C 9.4895625 20.916937 6.4472656 18.041375 6.4472656 14.609375 C 6.4472656 10.781375 10.286906 7.6660156 15.003906 7.6660156 z M 12.626953 12.910156 C 12.375953 12.910156 12.171875 13.107656 12.171875 13.347656 L 12.171875 16.652344 C 12.171875 16.894344 12.375953 17.089844 12.626953 17.089844 C 12.877953 17.089844 13.082031 16.893344 13.082031 16.652344 L 13.082031 13.347656 C 13.082031 13.107656 12.877953 12.910156 12.626953 12.910156 z M 14.5625 12.910156 C 14.5175 12.910156 14.470781 12.915641 14.425781 12.931641 C 14.248781 12.991641 14.128906 13.157703 14.128906 13.345703 L 14.128906 16.650391 C 14.128906 16.892391 14.3225 17.089844 14.5625 17.089844 C 14.8025 17.089844 14.996094 16.890391 14.996094 16.650391 L 14.996094 14.605469 L 16.679688 16.914062 C 16.760687 17.024063 16.889391 17.089844 17.025391 17.089844 C 17.072391 17.089844 17.118109 17.082406 17.162109 17.066406 C 17.340109 17.006406 17.460938 16.840344 17.460938 16.652344 L 17.457031 16.652344 L 17.457031 13.347656 C 17.457031 13.107656 17.263391 12.910156 17.025391 12.910156 C 16.787391 12.910156 16.591797 13.107656 16.591797 13.347656 L 16.591797 15.392578 L 14.908203 13.085938 C 14.827203 12.975938 14.6985 12.910156 14.5625 12.910156 z M 18.929688 12.910156 C 18.678688 12.910156 18.474609 13.107656 18.474609 13.347656 L 18.474609 14.998047 L 18.474609 15 L 18.474609 16.650391 C 18.474609 16.892391 18.678687 17.089844 18.929688 17.089844 L 20.654297 17.089844 C 20.906297 17.089844 21.111328 16.892344 21.111328 16.652344 C 21.111328 16.412344 20.905297 16.216797 20.654297 16.216797 L 19.384766 16.216797 L 19.384766 15.435547 L 20.654297 15.435547 C 20.906297 15.435547 21.111328 15.24 21.111328 15 C 21.111328 14.758 20.905297 14.5625 20.654297 14.5625 L 19.384766 14.564453 L 19.384766 13.783203 L 20.654297 13.783203 C 20.906297 13.783203 21.111328 13.588656 21.111328 13.347656 C 21.111328 13.107656 20.905297 12.910156 20.654297 12.910156 L 18.929688 12.910156 z M 9.34375 12.912109 C 9.09275 12.912109 8.8886719 13.106656 8.8886719 13.347656 L 8.8886719 16.652344 C 8.8886719 16.894344 9.09275 17.089844 9.34375 17.089844 L 11.068359 17.089844 C 11.320359 17.089844 11.522438 16.893297 11.523438 16.654297 C 11.523437 16.414297 11.319359 16.21875 11.068359 16.21875 L 9.7988281 16.21875 L 9.7988281 13.347656 C 9.7988281 13.107656 9.59475 12.912109 9.34375 12.912109 z"></path>
          </svg>
        </a>
        <button @click="copyLink">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5}
               stroke="currentColor" class="w-6 h-6">
            <path strokeLinecap="round" strokeLinejoin="round"
                  d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244"/>
          </svg>
        </button>
      </div>
    </div>

    <div class="aside hidden lg:block">
      <SideBanner/>
      <Aside/>
    </div>

    <!-- alert -->
    <transition name="fade">
      <div class="alert" v-if="alert">
        <div class="text-base font-bold px-6 py-1.5 bg-indigo-500 bg-opacity-90 text-white rounded-full inline-flex items-center"
             role="alert">Link copied
        </div>
      </div>
    </transition>
  </div>
</template>


<script>
import { articleType } from '/config/article.js'
import { parseTime } from '/utils/parseTools.js'
import SideBanner from "/components/Banner/SideBanner";
import Aside from "/components/ArticleCard/Aside";

export default {
  name: "Article",
  components: { SideBanner, Aside },
  head () {
    return {
      title: this.content.title,
      meta: [
        {
          hid: 'og:title',
          property: 'og:title',
          content: this.content.title
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: this.content.img
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: this.content.title
        },
        {
          hid: 'og:url',
          property: 'og:url',
          content: process.env.NUXT_ENV.BASE_URL + 'article/' + this.id
        },
        {
          property: 'fb:app_id',
          content: '&#123;1230748160984900&#125;'
        }
      ],
      script: [
        {
          async: true,
          defer: true,
          crossOrigin: 'anonymous',
          nonce: 'wbCLwoBy',
          src: 'https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v16.0&appId=1230748160984900&autoLogAppEvents=1'
        }
      ]
    }
  },
  async asyncData ({ $axios, store, params }) {
    // 文章 id
    const id = params.id;
    let res_data;
    const url = 'https://qchanpaoz-api.fly.dev/api/category/getHalonewsContent';
    const data = {
      id
    }
    const res = await $axios.$post(url, {data})
    res_data = res.data;
    if (res_data) {
      return { content: res_data, id: id, hFull: true }
    }

  },
  data () {
    return {
      imgUrl: this.$store.state.imgUrl,
      articleType,
      parseTime,
      id: 0,
      content: { title: '', content: '', publish_date: '', photo: '' },
      hFull: false,
      shareUrl: process.env.NUXT_ENV.BASE_URL + 'article/' + this.$route.params.id,
      alert: false
    }
  },
  mounted () {
    if (window.FB) {
      window.FB.XFBML.parse();
    }
  },
  methods: {
    copyLink () {
      const textRange = document.createElement('textarea');
      textRange.value = this.shareUrl;
      document.body.appendChild(textRange);
      textRange.select();
      document.execCommand('copy');
      document.body.removeChild(textRange);
      this.alert = true;
      setTimeout(() => {
        this.alert = false;
      }, 1000)
    }
  }
}
</script>


<style lang="scss" scoped>
.article {
  @apply relative w-3/4 mx-auto flex items-start tracking-wider;
  @apply pt-24 pb-10;

  & .alert {
    @apply fixed top-0 bottom-0 right-0 left-0 w-full h-full m-auto z-30;
    @apply flex items-center justify-center;
  }

  & .main {
    @apply relative max-w-full;
    @apply mt-8 mr-12;
    width: 1000px;

    & .main_title {
      @apply w-3/4 mx-auto pb-5;
      & .cover {
        @apply mx-auto w-full my-5;
      }

      & .title {
        @apply font-bold text-black text-4xl leading-tight;
        font-family: 'Rufina', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "spHelvetica Neue", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      }

      & .date {
        @apply text-sm text-zinc-500 my-2 mb-12;
        font-family: georgia, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "spHelvetica Neue", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

        & .type {
          @apply mr-3;
        }
      }
    }

    & .content {
      @apply w-3/4 h-full text-lg flex flex-col mx-auto text-zinc-800 mb-10;
      &:deep(*) {
        @apply leading-8;
        font-size: 1.125rem !important;
        font-family: georgia, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "spHelvetica Neue", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

        & img {
          @apply my-3;
        }
      }
    }

    & .share {
      @apply w-full flex items-center justify-end px-10;
      & > * {
        @apply mx-2;
        & svg {
          @apply transition-all duration-300;
          &:hover {
            @apply opacity-70;
          }
        }
      }
    }
  }

  & .aside {
    @apply sticky h-full right-40 top-0 mt-20;
    width: 25%;
  }

  .comment {
    @apply w-3/4 m-auto flex items-center justify-center;
  }
}

@media (max-width: 1024px) {
  .article {
    @apply relative w-full;
    & .main {
      @apply mr-0;
      & .main_title {
        @apply w-11/12;
        & .title {
          @apply text-3xl;
        }

        & .date {
          @apply mx-0;
        }
      }

      & .content {
        @apply w-11/12;
      }
    }
  }
}
</style>
