<template>
  <div class="about-wrapper">
    <div class="flex flex-col text-center w-full mb-8 sm:mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900">{{ $t('about_us') }}</h1>
      <div class="h-1 w-24 bg-indigo-400 mx-auto rounded mt-1 mb-8 sm:mb-10"></div>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
        {{ $t('about_us_text1') }}
      </p>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.about-wrapper {
  @apply relative w-4/5 max-w-full mx-auto h-screen flex flex-col items-center pt-24 mb-6 sm:pt-36;
}
</style>
