<template>
  <div class="home">
    <TopBanner/>
    <div class="main">
      <ArticleCardRow :name="'latest_articles'" :category="'general'" :count="3" class="w-2/3"/>
      <SideBanner v-if="show" class="max-w-full w-96 lg:max-w-none mx-auto my-5 lg:w-1/3 lg:ml-7 lg:my-0"/>
    </div>
    <ArticleCardRow v-for="type of articleType" :key="type" :name="type" :category="type" :count="4" :showMore="true"
                    class="my-5 lg:my-8"/>
  </div>
</template>

<script>
import TopBanner from "../components/Banner/TopBanner";
import SideBanner from "../components/Banner/SideBanner.vue";
import ArticleCardRow from "../components/ArticleCard/ArticleCardRow.vue";
// import ArticleCardColumn from "../components/ArticleCard/ArticleCardColumn.vue";
import {articleType} from '/config/article.js'

export default {
  name: 'IndexPage',
  // components: {TopBanner, SideBanner, ArticleCardRow, ArticleCardColumn},
  components: {TopBanner, SideBanner, ArticleCardRow},
  data() {
    return {
      articleType,
      show: false
    }
  },
  methods: {},
  mounted() {
    setTimeout(() => {
      this.show = true
    }, 200)
  }
}
</script>
<style lang="scss" scoped>
.home {
  @apply relative w-4/5 mx-auto flex flex-col items-center pt-28 pb-10;
  & .main {
    @apply flex flex-col lg:flex-row items-center w-full pt-14;
  }
}

@media (max-width: 1024px) {
  .home {
    @apply pt-24;
    & .main {
      @apply pt-8;
    }
  }
}

@media (max-width: 768px) {
  .home {
    @apply w-11/12;
  }
}
</style>
